body{
	margin-bottom: 80px;

	background:linear-gradient(#000000,#ffee00);
}






.page-header{

	margin-top:0;
}
.panel-body{
	padding-top:0;
}

.featuredImg{
	margin-bottom:30px;
}




